@import "tailwindcss";

@theme {
  --font-family-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  --font-family-poppins: var(--font-poppins), sans-serif;
}

@variant dark (.dark &);

* {
  font-family: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}